# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Hideout.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Unity\Repos\CodeLab1\Week5\mab1488-HW-Week5\Hideout\.idea\.idea.Hideout\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
